.pixel-stone {
  /* position: absolute; */
  width: 240px;
  height: 240px;
  transition: transform 0.1s ease-out;
  z-index: 10;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
}

.pixel-stone img {
  width: 100%;
  image-rendering: pixelated; /* 確保像素圖在縮放時不會模糊 */
}