/*===[PART5: setting page style, class*6]===============================================================================================*/

.settings-page-wrapper {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.settings-card {
    width: 100%;
    max-width: 650px; /* 像 Google 設定一樣的黃金寬度 */
    background: #ffffff;
    padding: 20px 40px 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
}

.settings-card h2 {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.header-icon {
    width: 1.1em;
    height: 1.1em;
    stroke-width: 2px; 
    transition: all ease;
}

.settings-section {
    margin-bottom: 35px;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
}

.settings-section h3 {
    font-size: 0.9rem;
    color: #676f72;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #a7b3bf;
    padding-bottom: 8px;
}

/* 讓每一項設定左右排開，比較協調 */
.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}

.input-group input {
    width: 200px;
    padding: 12px 12px 8px;
    border: 5px solid #5f6364;
    border-radius: 8px;
    font-size: large;
}

.color-picker-group {
    display: flex;
    gap: 12px;
}

.color-dot {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #ddd;
    cursor: pointer;
    transition: all 0.2s ease;
}

.color-dot.active {
    border-color: #4facfe;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(79, 172, 254, 0.5);
}

.save-btn {
    background: linear-gradient(135deg, #6289af 0%, #496784 100%);
    color: white;
    width: 85%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: auto;
}
